<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Your CV</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
	<script defer src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/orbit-1.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</head> 

<body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CV Creator</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{user.username}}</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'setting' %}">Setting</a></li>
                  <li><a class="dropdown-item" href="{% url 'updateCV' %}">Update My CV</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <div class="wrapper mt-lg-5" style="min-height: 1200px;" >
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile img-fluid rounded-circle" src="{{profile.image.url}}" alt="" />
                <h1 class="name">{{profile.name}}</h1>
                <!-- <h3 class="tagline">Full Stack Developer</h3> -->
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa-solid fa-envelope"></i><a href="#">{{profile.contacts.email}}</a></li>
                    <li class="phone"><i class="fa-solid fa-phone"></i><a href="#">{{profile.contacts.phone}}</a></li>
                    <li class="website"><i class="fa-solid fa-globe"></i><a href="" target="_blank">{{profile.contacts.portfolio}}</a></li>
                    <li class="linkedin"><i class="fa-brands fa-linkedin-in"></i><a href="#" target="_blank">{{profile.contacts.linkedin}}</a></li>
                    <li class="github"><i class="fa-brands fa-github"></i><a href="#" target="_blank">{{profile.contacts.github}}</a></li>
                    <li class="twitter"><i class="fa-brands fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">{{profile.contacts.twitter}}</a></li>
                </ul>
            </div><!--//contact-container-->

            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                {% for edu in profile.edus.all %}
                <div class="item">
                    <h4 class="degree">{{edu.degree}}</h4>
                    <h5 class="meta">{{edu.institution}}</h5>
	                    <div class="time">{{edu.passingyear}}</div>
                </div>
                {% endfor %}
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    {% for language in profile.languages.all %}
                    <li>{{language.l_name}} <span class="lang-desc">{{language.fluency}}</span></li>
                    {% endfor %}
                </ul>
            </div><!--//languages-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    {% for interest in profile.interests.all %}
                    <li>{{interest.i_name}}</li>
                    {% endfor %}
                </ul>
            </div><!--//interests-->
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper" style="min-height: 1200px;">        
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-user"></i></span>Career Profile</h2>
                <div class="summary">
                    <p>{{profile.carrier_profile}}</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span>Experiences</h2>
                {% for experience in profile.experiences.all %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{experience.j_title}}</h3>
                            <div class="time">{{experience.duration}}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{experience.c_name}}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{experience.des}}</p>
                    </div><!--//details-->
                </div><!--//item-->
                {% endfor %}
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-archive"></i></span>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                {% for project in profile.projects.all %}
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">{{project.p_name}}</a></span> - <span class="project-tagline">{{project.des}}</span>
                </div><!--//item-->
                {% endfor %}
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-rocket"></i></span>Skills &amp; Proficiency</h2>
                <div class="skillset"> 
                    {% for skill in profile.skills.all %}       
                    <div class="item">
                        <h3 class="level-title">{{skill.s_name}}</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: {{skill.proficiency}}%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
						</div>                               
                    </div><!--//item-->
                    {% endfor %}
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
            <small class="copyright">Designed with <i class="fa-solid fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div>
    </footer>
        
</body>
</html> 

